# Compiled Object files
*.slo
*.lo

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db

*.sdf
*.sln
*.opensdf
*.vcxproj
*.vcxproj.filters
*.obj
*.log
*.idb
*.pdb
*.tlog
*.lastbuildstate
*.suo
*.ilk